.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    margin-right: 2vw;
    
}

.links:hover {
    color: #0070f3;
    text-decoration: underline;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    border: 1px solid #070707;
    border-radius: 8px;
    padding: 0 2vw;
    background-color: rgb(6, 69, 105);
    color: rgb(241, 241, 241);
}

.assign {
    border-radius: 8px;
    padding: 0.5vh 2vw;
    background-color: rgb(0, 107, 18);
    margin-right: 1vw;
}

.assign:hover {
    background-color: rgb(0, 138, 23);
    color: rgb(241, 241, 241);
}

.delete {
    border-radius: 8px;
    padding: .5vh 2vw;
    background-color: rgb(190, 29, 0);
}

.delete:hover {
    background-color: rgb(214, 0, 0);
    color: rgb(241, 241, 241);
}